$darkgrey-color: #323232;
$orange-color: #f78434;
$white-color: #fff;

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;

    @media (max-width: 1140px) {
        max-width: 90%;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 34px auto;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    img {
        max-width: 80%;
    }

    &-links {
        display: flex;
        list-style: none;

        @media (max-width: 768px) {
            padding-left: 0;
        }
    }

    &-link-item {
        margin: 0 21px;

        @media (max-width: 992px) {
            font-size: 14px;
            margin: 0 12px;
        }

        @media (max-width: 600px) {
            font-size: 10px;
            margin: 0 7px;
        }

        @media (max-width: 400px) {
            font-size: 8px;
            margin: 0 5px;
        }

        &:last-of-type {
            margin-right: 0;
        }

        &.active {
            a {
                color: $orange-color;
                font-weight: 700;
            }

            &:hover {
                color: lighten($orange-color, 10%);
            }
        }

        a {
            color: $darkgrey-color;
            text-decoration: none;
            transition: 0.3s;

            &:hover {
                color: lighten($darkgrey-color, 20%);
            }
        }
    }
}

img {
    max-width: 100%;
}

.intro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 992px) {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .intro-col {
        max-width: 48%;

        @media (max-width: 992px) {
            max-width: 100%;
        }
    }
}

.intro-heading {
    font-size: 54px;
    letter-spacing: 0.8px;
    color: $darkgrey-color;
    width: 680px;
    position: relative;
    margin: 0 0 30px;

    @media (max-width: 768px) {
        width: 100%;
        font-size: 150%;
        margin-bottom: 0;
    }
}

.text {
    letter-spacing: 1.15px;
    color: $darkgrey-color;

    @media (max-width: 768px) {
        width: 100%;
        font-size: 80%;
    }
}

.intro-form {
    position: relative;
    overflow: hidden;
    max-width: 460px;
    margin-top: 40px;

    @media (max-width: 768px) {
        overflow: visible;
    }

    &:before {
        content: "";
        background-image: url(../img/email-icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        width: 24px;
        height: 19px;
        position: absolute;
        left: 28px;
        top: 50%;
        transform: translateY(-50%);
    }

    .intro-input-text {
        box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
        border-radius: 29px;
        padding: 17px 160px 17px 72px;
        border: 0;
        width: 100%;
        font-size: 16px;

        @media (max-width: 768px) {
            padding: 17px 10px 17px 72px;
        }

        &:focus {
            outline-color: lighten($orange-color, 30%);
        }

        &::placeholder {
            color: #bbb;
        }
    }

    .btn {
        position: absolute;
        right: 0;
        top: 0;

        @media (max-width: 768px) {
            top: 60px;
            width: 100%;
        }
    }
}

.btn {
    color: white;
    display: inline-block;
    background-color: $orange-color;
    padding: 17px 37px;
    border-radius: 50px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;

    &:hover {
        background-color: lighten($orange-color, 10%);
    }
}

.logotype {
    margin-top: 100px;

    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.companylogo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        width: 100%;
    }

    img {
        width: 100%;

        @media (max-width: 1280px) {
            max-width: 80%;
        }

        @media (max-width: 768px) {
            width: 85%;
            margin-bottom: 5%;
        }
    }
}

.section-heading {
    font-size: 42px;
    line-height: 1.45;
    letter-spacing: 0.8px;
    color: $darkgrey-color;
    margin: 0;
}

.exp-sect {
    position: relative;
    padding: 160px 0 55px;
    margin-top: 80px;
    background-image: url(../img/exp-bg.svg);
    background-size: cover;

    @media (max-width: 768px) {
        padding: 350px 0 0;
        margin-top: 0px;

        .container {
            display: flex;
            flex-direction: column;
        }
    }

    @media (max-width: 650px) {
        padding: 300px 0 0;
    }

    .exp-text {
        max-width: 360px;

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }

    .exp-img {
        position: absolute;
        bottom: 0;
        left: 55%;

        @media (max-width: 1280px) {
            left: 37%;
        }

        @media (max-width: 768px) {
            position: static;
            margin-top: 30px;
        }
    }

    .section-heading,
    .text {
        color: white;
    }

    .text {
        margin: 30px 0;
    }

    .btn {
        background-color: $white-color;
        color: $darkgrey-color;
    }

    .btn:hover {
        background-color: darken($white-color, 10%);
    }
}

.footer {
    margin: 90px auto;
    display: flex;

    @media (max-width: 480px) {
        flex-direction: column;
    }

    @media (max-width: 769px) {
        flex-direction: column;
    }

    &-col {
        width: 20%;

        @media (max-width: 480px) {
            width: 100%;
        }

        @media (max-width: 768px) {
            width: 100%;
        }

        &:first-of-type {
            width: 40%;

            @media (max-width: 480px) {
                width: 100%;
            }

            @media (max-width: 768px) {
                width: 100%;
            }

            .text {
                max-width: 300px;
            }
        }
    }
}

.footer-link {
    display: flex;
    flex-direction: column;

    &-item {
        text-decoration: none;
        color: $darkgrey-color;
    }
}

.social-links {
    a {
        font-size: 20px;
        margin-right: 30px;
        text-decoration: none;
    }

    .fa-facebook-square {
        color: #4267b2;
    }

    .fa-twitter {
        color: #1da1f2;
    }

    .fa-youtube {
        color: #ff0000;
    }

    .fa-linkedin-in {
        color: #006699;
    }
}

.prov-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 100px;

    @media (max-width: 992px) {
        flex-direction: column;
        top: 50px;
        align-items: center;
    }
}

.prov-images {
    position: relative;
    display: flex;
    margin-left: -253px;

    @media (max-width: 992px) {
        margin-left: 0;
    }
}

.prov-image {
    position: relative;
    max-width: 385px;

    &-2 {
        margin-left: 32px;
    }

    @media (max-width: 1280px) {
        max-width: 90%;
    }
}

.prov-info {
    max-width: 374px;

    @media (max-width: 1280px) {
        max-width: 35%;
        margin-left: 5%;
    }

    @media (max-width: 992px) {
        max-width: 100%;
    }

    @media (max-width: 480px) {
        max-width: 80%;
    }

    .prov-text {
        @media (max-width: 1080px) {
            font-size: 18px;
        }

        @media (max-width: 480px) {
            font-size: 12px;
        }
    }

    .btn {
        @media (max-width: 992px) {
            width: 100%;
            text-align: center;
        }

        @media (max-width: 480px) {
            width: 100%;
            text-align: center;
        }
    }

    .prov-header {
        font-size: 42px;
        font-weight: 700;

        @media (max-width: 1080px) {
            font-size: 30px;
        }

        @media (max-width: 480px) {
            font-size: 30px;
        }
    }
}

.detail {
    position: absolute;
    width: 300px;
    height: 141px;
    left: 130px;
    background-color: $white-color;
    border-radius: 20px;
    display: flex;
    bottom: 87px;

    &-icon {
        margin: 48px 29px 48px 29px;

        &-img {
            width: 45px;
            height: 45px;
        }
    }

    &-header {
        margin-bottom: 0px;
    }

    &-body {
        margin-top: 0px;
    }

    @media (max-width: 1080px) {
        display: none;
    }
}

.using-sect {
    display: flex;
    overflow: hidden;
    background-image: url(../img/using-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 145px;
    border-radius: 20px;
    justify-content: flex-end;
    position: relative;

    @media (max-width: 992px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dashboard {
        position: absolute;
        padding: 25px 24px;
        background-color: $white-color;
        border-radius: 22px;
        top: 60px;
        left: -247px;

        @media (max-width: 1280px) {
            max-width: 80%;
        }

        @media (max-width: 992px) {
            position: relative;
            max-width: 90%;
            top: 35px;
            left: 0;
        }
    }

    .using-info {
        margin-top: 75px;
        margin-right: 95px;
        margin-bottom: 75px;

        @media (max-width: 1280px) {
            margin-top: 70px;
            margin-right: 80px;
            margin-bottom: 40px;
        }

        @media (max-width: 1125px) {
            margin-right: 50px;
        }

        @media (max-width: 992px) {
            margin-top: 35px;
            margin-right: 0;
            margin-bottom: 35px;
            width: 90%;
        }

        .text {
            color: $white-color;
            width: 342px;
            margin-bottom: 15px;

            @media (max-width: 992px) {
                width: 90%;
            }
        }

        .using-text {
            font-size: 42px;
            font-weight: 700;

            @media (max-width: 1280px) {
                font-size: 30px;
            }
        }

        .btn {
            @media (max-width: 992px) {
                width: 100%;
                text-align: center;
                margin-top: 2%;
            }

            &-w {
                background-color: $white-color;
                color: $darkgrey-color;
                padding: 17px 29px;

                .fa-play {
                    color: $orange-color;
                }
            }
        }
    }
}

.serve-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 145px;

    @media (max-width: 992px) {
        margin-top: 75px;
    }
}

.serve-col {
    .serve-title {
        font-weight: bold;
        font-size: 42px;
        line-height: 62px;
        letter-spacing: 0.8px;
        text-align: center;
    }

    .serve-subtitle {
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 1.15px;
        margin-bottom: 25px;
        text-align: center;
    }

    &-get {
        display: flex;

        @media (max-width: 992px) {
            display: block;
        }
    }

    &-inner {
        width: 540px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;

        @media (max-width: 1150px) {
            width: 400px;
            justify-content: center;
        }

        @media (max-width: 992px) {
            margin-top: 20px;
        }

        @media (max-width: 480px) {
            width: 100%;
        }

        .serve-subtitle {
            width: 364px;

            @media (max-width: 1150px) {
                width: 300px;
            }
        }

        &:first-of-type {
            background-color: $orange-color;
            color: $white-color;
            margin-right: 30px;

            @media (max-width: 992px) {
                margin-right: 0;
            }

            .btn {
                background-color: $white-color;
                color: $orange-color;
            }
        }

        .btn {
            margin-bottom: 40px;
        }

        .serve-logo {
            img {
                margin-top: 40px;
            }
        }
    }
}

.choose-container {
    margin-top: 100px;

    .choose-col {
        display: flex;
        justify-content: center;

        @media (max-width: 992px) {
            flex-flow: wrap;
            // width: 40%;
        }

        .choose-title {
            font-weight: 700;
            font-size: 42px;
            line-height: 62px;
            text-align: center;
            letter-spacing: 0.8px;
            color: $darkgrey-color;

            @media (max-width: 1280px) {
                font-size: 35px;
            }
        }

        &-inner {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            margin-top: 58px;
            // border-radius: 5px 5px 0px 0px;

            @media (max-width: 992px) {
                width: 50%;
            }

            @media (max-width: 480px) {
                width: 100%;
            }

            .choose-title {
                font-size: 28px;
                line-height: 42px;
                letter-spacing: 0.5px;
                margin-top: 15px;

                @media (max-width: 1280px) {
                    font-size: 20px;
                }
            }

            .choose-subtitle {
                font-size: 16px;
                line-height: 27px;
                text-align: center;
                letter-spacing: 1.15px;
                color: $darkgrey-color;

                @media (max-width: 1280px) {
                    font-size: 14px;
                    width: 250px;
                }
            }
        }
    }
}

.thanks-container {
    margin-top: 100px;

    &-col {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;

        @media (max-width: 1280px) {
            justify-content: center;
        }

        @media (max-width: 992px) {
            flex-direction: column;
        }

        &-inner {
            margin-right: 30px;
            width: 350px;

            @media (max-width: 1280px) {
                width: 300px;
            }

            @media (max-width: 992px) {
                margin-top: 40px;
                margin-right: 0;
            }

            @media (max-width: 480px) {
                width: 100%;
            }

            &:last-of-type {
                position: relative;
            }

            .thanks-pacman {
                position: absolute;
                right: -40px;
                top: -40px;

                @media (max-width: 1280px) {
                    right: -40px;
                }

                @media (max-width: 1140px) {
                    right: -40px;
                }

                @media (max-width: 992px) {
                    display: none;
                }
            }
        }
    }
}

.thanks-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 62px;
    letter-spacing: 0.8px;
    color: $darkgrey-color;
    width: 500px;

    @media (max-width: 992px) {
        text-align: center;
    }

    @media (max-width: 480px) {
        width: 100%;
    }
}

.thanks-subtitle {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1.15px;
    color: #606060;
    width: 400px;

    @media (max-width: 992px) {
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
}

.thanks-poster {
    display: flex;
    align-items: center;

    @media (max-width: 992px) {
        justify-content: center;
        width: 100%;
    }

    video {
        max-width: 100%;
    }

    &-info {
        margin-top: 30px;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 1.15px;
        color: $darkgrey-color;
        padding: 31px 29px 0px 29px;

        @media (max-width: 1280px) {
            font-size: 14px;
        }

        @media (max-width: 992px) {
            margin-top: 0;
            text-align: center;
        }
    }

    &-title {
        margin-top: 30px;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.6px;
        color: $darkgrey-color;
        padding-left: 29px;

        @media (max-width: 992px) {
            text-align: center;
            width: 100%;
            padding-left: 0;
            margin-top: 0;
        }
    }

    &-subtitle {
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 1.15px;
        color: #58bebf;
        padding: 0 29px;

        @media (max-width: 992px) {
            text-align: center;
            width: 100%;
            padding: 0;
        }

        .baltimore {
            color: $orange-color;
        }
    }
}
